{% extends 'base_app.html' %}

{% block title %}
View project
{% endblock %}

{% block subtitle %}
{{ project.code }}
{% endblock %}

{% block body %}
<section class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">
      Datos de proyecto
    </h3>
    <p class="max-w-2xl mt-1 text-sm text-gray-500">
      {% comment %} {{ project.code }}. {% endcomment %}
    </p>
  </div>
  <div class="px-4 py-5 border-t border-gray-200 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Project Name
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{ project.name }}
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Code
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{ project.code }}
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Budget
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{ project.budget }}
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Providers
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{ project.providers }}
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Deadline
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{ project.deadline }}
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Laravel
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {% if project.laravel %}
              Si!
          {% else %}
              No
          {% endif %}
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Link
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <a href="{{project.link}}" class="text-teal-600 hover:text-teal-900">{{project.link}}</a>
        </dd>
      </div>
    </dl>
  </div>
</section>

<!-- Comments-->
<section aria-labelledby="notes-title" class="mt-10">
  <div class="bg-white shadow sm:rounded-lg sm:overflow-hidden">
    <div class="divide-y divide-gray-200">
      <div class="px-4 py-5 sm:px-6">
        <h2 id="notes-title" class="text-lg font-medium text-gray-900">Comments</h2>
      </div>
      <div class="px-4 py-6 sm:px-6">
        <ul role="list" class="space-y-8" id="comment-list">
          {% for comment in comments %}
          <li>
            <div class="flex space-x-3">
              <div class="flex-shrink-0">
                <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </div>
              <div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-gray-900">{{comment.user.username}}</a>
                </div>
                <div class="mt-1 text-sm text-gray-700">
                  <p>{{ comment.comment }}.</p>
                </div>
                <div class="mt-2 space-x-2 text-sm">
                  <span class="font-medium text-gray-500">{{ comment.created_at }}</span>
                  <span class="font-medium text-gray-500">&middot;</span>
                  <button type="button" class="font-medium text-gray-900">Reply</button>
                </div>
              </div>
            </div>
          </li>
          {% empty %}
          <li id="comment-none">
            There are not comments yet.
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="px-4 py-6 bg-gray-50 sm:px-6">
      <div class="flex space-x-3">
        <div class="flex-shrink-0">
          <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="">
        </div>
        <div class="flex-1 min-w-0">
          <form x-data="commentForm()" @submit.prevent="submitData">
            <div>
              <label for="comment" class="sr-only">Comment</label>
              <textarea x-model="formData.comment" id="comment" name="comment" rows="3" class="block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Add a note"></textarea>
            </div>
            <div class="flex items-center justify-between mt-3">
              <a href="#" class="inline-flex items-start space-x-2 text-sm text-gray-500 group hover:text-gray-900">
                <!-- Heroicon name: solid/question-mark-circle -->
                <svg class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
              </a>
              <button type="submit" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Comment
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block javascript %}
<script>
function commentForm() {
  return {
    formData: {
      comment: '',
      user: 1,
      project: {{ project.id }},
    },
    message: '',
    url: "{% url 'project_create_comment' project.id %}",

    submitData() {
      this.message = ''

      fetch(this.url, {
        method: 'POST',
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          'Content-Type': 'application/json',
          'X-CSRFToken': "{{ csrf_token }}",
        },
        body: JSON.stringify(this.formData)
      })
      .then((response) => {
        response.json().then(data => {
          this.message = 'Form sucessfully submitted!'
          let child = `
          <li>
            <div class="flex space-x-3">
              <div class="flex-shrink-0">
                <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </div>
              <div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-gray-900">${data.username}</a>
                </div>
                <div class="mt-1 text-sm text-gray-700">
                  <p>${data.comment}.</p>
                </div>
                <div class="mt-2 space-x-2 text-sm">
                  <span class="font-medium text-gray-500">${data.username}</span>
                  <span class="font-medium text-gray-500">&middot;</span>
                  <button type="button" class="font-medium text-gray-900">Reply</button>
                </div>
              </div>
            </div>
          </li>
          `
          let commentList = document.getElementById('comment-list')
          let lastComment = commentList.lastElementChild
          lastComment.insertAdjacentHTML('afterend', child);
          let commentNone = document.getElementById('comment-none')
          if (commentNone) {
            commentNone.remove()
          }

          this.formData.comment = ''
        })

      })
      .catch(() => {
        this.message = 'Ooops! Something went wrong!'
      })
    }
  }
}
</script>
{% endblock %}
